<div class="col-md-2 col-6 mb-3">
    <a href="/c/{{ community.name }}" class="font-weight-bold">
        <div class="community-card channels-card ">

            <div class="text-left" style="display: inline-block; float: left">
                <img style="width: 40px; height: 40px; border-radius: 50%; vertical-align: middle"
                     src="{{ community.avatar_url }}?size=icon" alt="">

                {{ community.title }}

            </div>
            <div class="text-right" style=" display: inline-block;padding-top: 5.5%;float: right;">
                <i class="fal fa-chevron-circle-right"></i>
            </div>
            <div style="clear: both;"></div>
        </div>
    </a>
</div>
