{% extends './layout.twig' %}

{% block header %}
  {% include 'new/channel_header.twig' %}
{% endblock %}

{% block body %}
<div class="row" id="podcast">
    {% for audio in audios %}
        {% include './widgets/bigAudioCard.twig' with audio %}
    {% endfor %}

    {% if audios|length == 0 %}
        <p class="alert alert-info w-100">
            {{ channel.username }} has not published any podcast episode yet. Come back later.
        </p>
    {% endif %}
</div>
{% endblock %}
