{% extends './layout.twig' %}

{% block headerHTML %}
    <h1 class="white_col">Frequently asked questions</h1>
{% endblock %}

{% block stlye %}
  <style>
    a {
      color: -moz-default-color;
    }
  </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
            What is 3Speak?
        </div>
        <div class="card-body">
            <p class="card-text">
              3Speak is a place where content creators directly own their onsite assets and their communities.
              Using blockchain technology, the ownership of these assets and communities are intrinsic to the creator
              and the user, not 3 Speak.  They are therefore transferable to other apps that use blockchain technology.
              This means that if we do not serve the community and creators in the best possible way, they can take the
              assets they have generated and move them to another app.  The result is that 3Speak is censorship
              resistant, cannot take your assets away or delete your communities.
              <br>
              <br>
              Our policy is that the ability to be offensive is the bedrock of Freedom of Speech, and in turn Freedom
              of Speech protects societies from descending into chaos and civil war. Everyone has the right to their
              opinions, no matter how offensive some other people may find it (as long as it's not inciting violence or
              illegal of course). We especially welcome those talking about cryptocurrency and other emerging
              technologies which are threats to the establishment. Many of these content creators are being silenced
              because rich and powerful organisations do not want to be challenged. But we believe in Freedom of
              choice too!
            </p>
        </div>
    </div>

    <div class="card mt-2" id="upvote">
        <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
            Why am I not upvoted by 3Speak?
        </div>
        <div class="card-body">
            <p class="card-text">
                3Speak will vote at our own discretion and do not follow any specific criteria.
                The best way to attract our attention is to upload high-quality content and draw audiences and
                communities to 3speak.
            </p>
        </div>
    </div>

    <div class="card mt-2" id="feeds">
      <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
        Why are some of my videos missing from the <a href="/new">new</a> feed?
      </div>
      <div class="card-body">
        <p class="card-text">
          We allow you to upload as many videos as you want! This means that sometimes one user could fill up feeds
          with just their content, to combat this, we limit the videos by any one creator that can be displayed per
          load.
        </p>
      </div>
    </div>

    <div class="card mt-2">
        <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
            What are the guidelines?
        </div>
        <div class="card-body">
            <p class="card-text">
                We believe Freedom of Speech is absolute. As outlined above, there are some instances where we would
                have to restrict content, but for clarity here are 3speak's policies on various subjects:
                <br>
                <br>
                <b>We fully support your right to be offensive as long as it does not violate any of our terms (see below).</b>
                <br>
                <br>
                CRITICISING RELIGION,  BELIEFS, GROUPS, PEOPLE: <span class="fas fa-check-circle text-success"></span>
                <br>
                <br>
                SWEARING AND PROFANITY: <span class="fas fa-check-circle text-success"></span> (slander not allowed)
                <br>
                <br>
                OFFENSIVE JOKES: <span class="fas fa-check-circle text-success"></span> (If you are making a joke which
                could be construed as something illegal or slanderous, it might be a good idea to make it clear. As long
                as you aren't calling for people to be killed or harmed in any way.)
                <br>
                <br>
                ALTERNATIVE POLITICS / CONSPIRACIES / CRITICIZING GOVERNMENTS & WORLD LEADERS:
                <span class="fas fa-check-circle text-success"></span>
                <br>
                <br>
                PSEUDONYMS: <span class="fas fa-check-circle text-success"></span>
                <br>
                <br>
                CALLING FOR OR INCITEMENT TO VIOLENCE: <span class="fas fa-times-circle text-danger"></span>
                <br>
                <br>
                SHOWING OF EXCESSIVE GORE OR PORN: <span class="fas fa-times-circle text-danger"></span>
            </p>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
            How do I become a content creator?
        </div>
        <div class="card-body">
            <p class="card-text">
                The quickest way to get a hive account is to press the "Sign up" button in the navigation panel and follow the instructions. (dont loose your keys!).
                <br>
                Next you will need to log in with your hive account and click on the "creator studio" / upload.
                <br>
                You're all set up and ready to go!
            </p>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header{% if user and user.darkMode == true %} bg-dark{% endif %}">
            How do I earn rewards for commenting?
        </div>
        <div class="card-body">
            <p class="card-text">
                In order to earn rewards, you need a Hive blockchain account. There are a few ways to get a Hive account:
                <br>
                <br>
                1. Get one for free from Hive (<a href="//signup.hive.io" target="_blank">https://signup.hive.io</a>). This can take some time to get approved however.
                <br>
                2. Purchase a Hive user guide, which comes with a free, instant Hive account <b><a href="https://sting.ninja/">here</a></b>. However, with value adding, useful or articulate commenting you should be able to earn this back in a few days, or after uploading a couple of videos.
                <br>
                3. Get another Hive user who can claim accounts to give one to you <br>
                <br>
                Once you have an account, you need to login with Hivesigner. You will need to provide your ACTIVE key <b>ONLY on the first login</b>. Then you can post comments which can earn.
                <br>
                <br>
                If you want to comment without earning cryptocurrency rewards, you can simply login with  email or via your facebook, google, twitter or instagram accounts.
                <br>
            </p>
        </div>
    </div>
{% endblock %}
