{% extends './layout.twig' %}

{% block headerHTML %}
    <h1 class="white_col">About 3Speak</h1>
{% endblock %}

{% block body %}

<div class="card mb-5">
    <div class="card-body">

        <p class="card-text">


          3SPEAK, PROTECT YOUR CONTENT, TOKENISE YOUR COMMUNITY
          <br>
          3Speak is a place where content creators directly own their onsite assets and their communities.  Using blockchain technology, the ownership of these assets and communities are intrinsic to the creator and the user, not 3 Speak.  They are therefore transferable to other apps that use blockchain technology.
          This means that if we do not serve the community and creators in the best possible way, they can take the assets they have generated and move them to another app.  The result is that 3Speak is censorship resistant, cannot take your assets away or delete your communities.
          <br>
          <br>
          REWARDS
          <br>
          By using the platform, users get rewarded in Hive tokens and can receive donations in our proprietary Speak token.  The more of these tokens you hold, the more privileges you have in the eco system.  Additionally, the more tokens you hold, the more say you have over the governance of the platform and where it goes in future.
          <br>
          <br>
          P2P
          <br>
          The blockchain technology that the site uses ensures that content creators have true P2P connections to their user base, without any middle parties.
          <br>
          <br>
          TOKENISATION
          <br>
          Content creators can also easily create their own tokens, market places, stake driven rewards and economies to back their communities
          <br>
          <br>
          FREE SPEECH
          <br>
          Our policy is that the ability to be offensive is the bedrock of Freedom of Speech, and in turn Freedom of Speech protects societies from descending into chaos and civil war. Everyone has the right to their opinions, no matter how offensive some other people may find it (as long as it's not inciting violence or illegal of course).
          We especially welcome those talking about cryptocurrency and other emerging technologies which are threats to the establishment. Many of these content creators are being silenced because rich and powerful organisations do not want to be challenged. But we believe in Freedom of choice too!
          <br>
          <br>
          CITIZEN JOURNALISM
          <br>
          We also encourage citizen journalists to join us too, and post the kind of content which is often ignored. We believe that citizen journalists are the future, and we invite them to come and join our Citizen Journalist Tag and Community
          <br>
          <blockquote class="blockquote">
            <p class="mb-0">

              If liberty means anything at all, it means the right to tell people what they do not want to hear.
              <footer class="blockquote-footer">
                <cite title="George Orwell">George Orwell</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              I disapprove of what you say, but I will defend to the death your right to say it.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Voltaire</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              The right to free speech and the unrealistic expectation to never be offended can not coexist.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Philip Sharp</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              At no time is freedom of speech more precious than when a man hits his thumb with a hammer.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Marshall Lumsden</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              Freedom of speech means freedom for those who you despise, and freedom to express the most despicable views. It also means that the government cannot pick and choose which expressions to authorize and which to prevent.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Alan Dershowitz</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              Ignorant free speech often works against the speaker. That is one of several reasons why it must be given rein instead of suppressed.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Anna Quindlen</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              Freedom of speech includes the freedom to offend people.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Brad Thor</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              There is a fine line between free speech and hate speech. Free speech encourages debate whereas hate speech incites violence.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Newton Lee</cite>
              </footer>
            </p>
          </blockquote>

          <blockquote class="blockquote">
            <p class="mb-0">
              Freedom of speech means that you shall not do something to people either for the views they have, or the views they express, or the words they speak or write.
              <footer class="blockquote-footer">
                <cite title="Voltaire">Hugo L. Black</cite>
              </footer>
            </p>
          </blockquote>
        </p>
      </div>
</div>
{% endblock %}
