<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>3speak.tv Embed Player</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=yes">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <style>
        .jwplayer.jw-flag-aspect-mode {
          max-height: 100vh;
        }
        body {
          margin: 0 !important;
        }
      </style>


  <style>
    .grecaptcha-badge { visibility: hidden; }
  </style>

</head>
<body class="bg-dark" style="height: 100%" >
{% block body %}{% endblock %}
<script src="https://cdn.jwplayer.com/libraries/j7Kz0Rae.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Le5G3MaAAAAAKXzr4reX2i2Bss8abc6CrrlEo-Z"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
{% block js %}{% endblock %}

<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "https://data.3speak.tv/";
        _paq.push(['setTrackerUrl', u + 'mon.php']);
        {% block tracking %}{% endblock %}
        _paq.push(['setSiteId', '1']);
        _paq.push(['trackEvent', 'EmbedPlayer', 'Show', '{{ v.author ~'/'~v.permlink }}']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'm.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167033282-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167033282-1');
</script>
</body>
</html>
